<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/files/home.style.css">
    <title>Home</title>
</head>
<body>
    <header>Blog</header>
    <main>
        <div id="left-margin"></div>
        <ul class="articles">
        {{range .}}
        <li class="article"><a href='http://localhost:8080/article/{{.Title}}' >{{.Title}}</a><div class="date">Published {{.Created.Day}} {{.Created.Month}} {{.Created.Year}}</div></li>
        {{end}}
        </ul>
        <div id="right-margin"></div>
    </main>
    <footer>created by Luke Eades</footer>
</body>
</html>